.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 1.5rem 0;
}

.middle {
  flex: 1 0 auto;
}

.center {
  max-width: 99rem;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}